/* Content */
.content {
  margin: 0 auto;
  max-width: 64rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.content-layout-split {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Section */
.section {
  margin-bottom: 57px;
  padding: 0 30px;

  @include respond-to('min-mobile') {
    .section {
      margin-bottom: calc(57px + 64 * ((100vw - 425px) / 775));
    }
  }
  @include respond-to('min-desktop') {
    .section {
      margin-bottom: 121px;
    }
  }
}
