// String Replace
/// @access public
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/// Gestionnaire de resolution d'écran
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/// Ajout d'une instruction font-face
/// @access public
/// @param {String} $name
/// @param {String} $path
/// @param {Number} $weight
/// @param {String} $style
/// @param {String} $exts
/// @requires $name
/// @requires $path
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );
  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

/// Cache l'élément
/// @access public
@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

/// Affiche l'élément
/// @access public
@mixin visible {
  opacity: 1;
  visibility: visible;
}

/// Affiche l'élément
/// @access public
@mixin notDisplay {
  display: none;
}

/// Aide à dégager les flotteurs intérieurs
/// @access public
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/// Aide à créer des transformations de facçon "cross-browser"
/// @access public
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

/// Aide à créer des transitions de facçon "cross-browser"
/// @access public
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/// Aide à définir le temps de la transitions de facçon "cross-browser"
/// @access public
@mixin transition-delay($args...) {
  -webkit-transition-delay: $args;
  -moz-transition-delay: $args;
  -ms-transition-delay: $args;
  -o-transition-delay: $args;
  transition-delay: $args;
}

/// Aide à définir le temps entre l'ancienne transitions et la nouvelle transitions de facçon "cross-browser"
/// @access public
@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

/// Aide à créer des ombres sur les éléments de facçon "cross-browser"
/// @access public
@mixin box-shadow($params) {
  -webkit-box-shadow: #{$params};
  -moz-box-shadow: #{$params};
  box-shadow: #{$params};
}

/// Aide à créer les animations
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/// Aide à supprimer la bar de défilement
/// @access public
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

/// Aide à cacher la bar de défilement
/// @access public
@mixin hide-scroll-bar() {
  &::-webkit-scrollbar {
    visibility: hidden;
  }
}

/// Aide à afficher la bar de défilement
/// @access public
@mixin show-scroll-bar() {
  &::-webkit-scrollbar {
    visibility: visible;
  }
}

/// Aide à reset le style d'un bouton
/// @access public
@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Animations */

/* Fade In */
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Fade Out */
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Fade Shadow In */
@include keyframes(fadeShadowIn) {
  0% {
    text-shadow: 0 0 20px inherit;
  }
  100% {
    text-shadow: 0 0 0.5px inherit;
  }
}
/* Fade Shadow Out */
@include keyframes(fadeShadowOut) {
  0% {
    text-shadow: 0 0 0.5px inherit;
  }
  100% {
    text-shadow: 0 0 20px inherit;
  }
}

/* Slide In */
@include keyframes(slideIn) {
  100% {
    @include transform(translateX(0%));
  }
}
/* Slide Out - Left */
@include keyframes(slideOutLeft) {
  0% {
    @include transform(translateX(100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}
/* Slide Out - Right */
@include keyframes(slideOutRight) {
  0% {
    @include transform(translateX(-100%));
  }
  100% {
    @include transform(translateX(0%));
  }
}

/* Font Mixins */
@mixin body-font {
  font-family: $body-font;
  font-size: $body-font-size;
  color: $body-color;
}
@mixin mainheader-font {
  font-family: $mainheader-font;
  font-size: $mainheader-font-size;
}
@mixin header-font {
  font-family: $header-font;
  font-size: $header-font-size;
}
@mixin subheading-font {
  font-family: $subheading-font;
  font-size: $subheading-font-size;
}
