/* Points de ruptures */
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 992px;
$bp-desktop: 1200px;

$breakpoints: (
  'min-mobile': (
    min-width: 0,
  ),
  'max-mobile': (
    max-width: $bp-mobile - 1,
  ),
  'min-tablet': (
    min-width: $bp-tablet,
  ),
  'max-tablet': (
    max-width: $bp-tablet - 1,
  ),
  'min-laptop': (
    min-width: $bp-laptop,
  ),
  'max-laptop': (
    max-width: $bp-laptop - 1,
  ),
  'min-desktop': (
    min-width: $bp-desktop,
  ),
  'max-desktop': (
    max-width: $bp-desktop - 1,
  ),
);

/* Colors Black & White */
$color-black: #000000;
$color-white: #ffffff;

/* Margins */
$margin-1: 0.5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;
$margin-5: 2.5rem;
$margin-6: 3rem;

/* Z-index */
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

/* Typography */
$font-main-size: 62.5%; // 10px

$font-body: 'Roboto', 'Monospace', -apple-system, sans-serif;
$font-body-size: 1.6rem; // 16px
$font-body-size--md: 2.1rem; // 21px

$font-script: 'Roboto', 'Monospace', -apple-system, sans-serif;
$font-script-size: 4.8rem; // 48px
$font-script-size--md: 6rem; // 60px
