@charset 'utf-8'; // Afin d’éviter tout problème potentiel lié à l’encodage des caractères, on force l’encodage UTF-8

@import 'base/reset';
@import 'base/typography';
@import 'base/layout';

html {
  font-size: $font-main-size;
}

body {
  font-family: $font-body;
  font-size: $font-body-size;
  color: $color-black;
  background-color: $color-white;
  line-height: 1.65;
  overflow-x: hidden;
}
